<div class="user-component">
  <div>
    <h2>My Notes</h2>

    <!-- Отображение кнопки Create Note -->
    <button class="btn btn-secondary mt-3" (click)="toggleCreateNoteForm()">{{ buttonNoteEditorLabel }}</button>

    <!-- Форма создания заметки -->
    <div *ngIf="showCreateNoteForm" class="mt-3">
      <div>
        <label for="newNoteTitle">Title:</label>
        <input id="newNoteTitle" [(ngModel)]="newNoteTitle" placeholder="Enter title" class="form-control">
      </div>
      <div>
        <label for="newNoteText">Text:</label>
        <textarea id="newNoteText" [(ngModel)]="newNote.text" placeholder="Enter text" class="form-control"></textarea>
      </div>
      <button class="btn btn-secondary mt-3" (click)="addNote(); toggleCreateNoteForm()">Add Note</button>
    </div>

    <!-- Отображение текста заметки и формы редактирования -->
    <div *ngFor="let note of notes; let i = index">
      <div *ngIf="showNoteText[i]" class="note-text-container mt-3">
        <h3 class="note-title">{{ note.title }}</h3>
        <p class="note-text">{{ note.text }}</p>
        <button class="btn btn-secondary me-2" (click)="toggleEditNoteForm(i); closeNoteText(i)">Edit</button>
        <button class="btn btn-secondary" (click)="closeNoteText(i)">Close</button>
      </div>

      <div *ngIf="editNoteIndex === i" class="mt-3">
        <div>
          <label for="updateNoteTitle">Updated Title:</label>
          <input id="updateNoteTitle" [(ngModel)]="note.title" placeholder="Enter new title" class="form-control">
        </div>
        <div>
          <label for="updateNoteText">Updated Text:</label>
          <textarea id="updateNoteText" [(ngModel)]="note.text" placeholder="Enter new text"
            class="form-control"></textarea>
        </div>
        <button class="btn btn-secondary me-1" (click)="updateNote(note)">Update</button>
        <button class="btn btn-danger me-1" (click)="deleteNoteById(note.id)">Delete</button>
        <button class="btn btn-secondary" (click)="closeEditNoteForm()">Close</button>
      </div>
    </div>

    <!-- Сообщение об отсутствии заметок -->
    <p *ngIf="notesNotFound" class="mt-3">Notes not found.</p>

    <!-- Сообщение об успехе -->
    <div *ngIf="successMessage" class="alert alert-success alert-dismissible fade show" role="alert">
      {{ successMessage }}
      <button type="button" class="btn-close" (click)="successMessage = ''" aria-label="Close"></button>
    </div>

    <!-- Сообщение об ошибке -->
    <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errorMessage }}
      <button type="button" class="btn-close" (click)="errorMessage = ''" aria-label="Close"></button>
    </div>

    <!-- Поиск заметок по словам -->
    <div class="mt-3 smaller">
      <div class="mt-3">
        <div class="position-relative">
          <input id="searchByTitle" [(ngModel)]="newNote.title" placeholder="Type the words and press Enter to search"
            class="form-control" (keyup.enter)="getNoteByWords(newNote.title)" (keyup.esc)="clearSearch()">
          <span class="clear-icon" (click)="clearSearch()">&times;</span>
        </div>
      </div>
    </div>


    <!-- Таблица с заметками пользователя -->
    <div class="mt-3">
      <div class="mh-500px w-100 overflow-auto d-inline-block shadow">
        <table class="table table-striped" *ngIf="!notesNotFound">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Title</th>
              <!-- <th>Created Date</th> -->
              <th>Updated Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let note of notes; let i = index">
              <!-- <td>{{ note.id }}</td> -->
              <td>{{ note.title }}</td>
              <!-- <td>{{ note.createdDate | date :'yyyy-MM-dd HH:mm z' }}</td> -->
              <td>{{ note.updatedDate | date :'yyyy-MM-dd HH:mm z' }}</td>
              <td>
                <!-- Отображение кнопок Open и Edit -->
                <button class="btn btn-secondary me-2" (click)="toggleNoteText(i)">Open</button>
                <!-- <button class="btn btn-secondary" (click)="toggleEditNoteForm(i)">Edit</button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>