<p>auth works!</p>

<div *ngIf="!loggedIn">
  <div>
    Name:
    <input [(ngModel)]="user.username" placeholder="UserName">
  </div>
  <div>
    Password:
    <input [(ngModel)]="user.password" placeholder="Password" type="password">
  </div>
  <button (click)="registerUser(user)">User Register</button>
  <button (click)="loginUser(user)">User Login</button>
  
  <div>
    Name:
    <input [(ngModel)]="admin.username" placeholder="AdminName">
  </div>
  <div>
    Password:
    <input [(ngModel)]="admin.password" placeholder="Password" type="password">
  </div>
  <button (click)="registerAdmin(admin)">Admin Register</button>
  <button (click)="loginAdmin(admin)">Admin Login</button>
</div>

<div *ngIf="loggedIn">
  <button (click)="logout()">Logout</button>
  <div *ngIf="isAdmin">
    <app-admin></app-admin>
  </div>
  <div *ngIf="!isAdmin">
    <app-user #userComponent></app-user>
  </div>
</div>

