<div class="admin-component">
  <h2>Users</h2>

  <!-- Delete message -->
  <div *ngIf="deleteMessage" class="alert alert-success">
    {{ deleteMessage }}
    <button class="btn btn-sm btn-link" (click)="hideDeleteMessage()">Hide</button>
  </div>

  <!-- Users table -->
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td class="text-end">
          <button class="btn btn-danger" (click)="user.id && deleteUserById(user.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>